In [ ]:
#import library
!pip install googletrans==3.1.0a0
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
from googletrans import Translator

Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.7 MB/s
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.5.30)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.2 MB/s
Collecting hstspreload
  Downloading hstspreload-2021.9.1-py3-none-any.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 18.1 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.9 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 2.9 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16367 sha256=e5680e7f2cef955add60dd8aeb29e2498636c8e3ab3a2063ec8c7f9c8884e6d8
  Stored in directory: /root/.cache/pip/wheels/0c/be/fe/93a6a40ffe386e16089e44dad9018ebab9dc4cb9eb7eab65ae
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.9.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [ ]:
url = "https://www.1212.mn/tables.aspx?tbl_id=DT_NSO_1400_001V1&GH1_select_all=0&GH1SingleSelect=_2_3_4&YearM_select_all=1&YearMSingleSelect=&YearY_select_all=0&YearYSingleSelect=&viewtype=table"

In [ ]:
html_content = requests.get(url).text

In [ ]:
#get the html using Beautiful soup
soup = BeautifulSoup(html_content, "lxml")

In [ ]:
#find the table content in html
mi = soup.find_all("table", attrs={"class": "table table-bordered table-responsive table-hover"})

In [ ]:
print("Number of tables on site: ",len(mi))

Number of tables on site:  1

In [ ]:
#Extract table for the header
table1 = mi[0]

body = table1.find_all("tr")

head = body[0] 
body_rows = body[1:] 

headings = []
for item in head.find_all("th"): 
    item = (item.text).rstrip("\n")
    headings.append(item)
print(headings)

['гадаад худалдааны үндсэн үзүүлэлт', '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06', '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12', '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06', '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12', '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07']

In [ ]:
#Extract the content, table row
all_rows = [] 
for row_num in range(len(body_rows)): 
    row = [] 
    for row_item in body_rows[row_num].find_all("td"): 
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        row.append(aa)
    all_rows.append(row)

In [ ]:
df = pd.DataFrame(data=all_rows,columns=headings)
df.head()

  гадаад худалдааны үндсэн үзүүлэлт 1997-01 1997-02  ...  2021-05  2021-06  2021-07
0                           Экспорт   23.40   46.80  ...  3323.96  4111.30  4741.60
1                            Импорт   15.90   35.80  ...  2601.60  3261.12  3838.20
2                            Тэнцэл    7.50   11.00  ...   722.37   850.18   903.40

[3 rows x 296 columns]

In [ ]:
#translate unknown words using google translate
translator = Translator()
translations = translator.translate(df.columns[0], dest='en')

In [ ]:
translations.text

'main indicators of foreign trade'

In [ ]:
#Rename header
df.rename(columns = {'гадаад худалдааны үндсэн үзүүлэлт': "Timeframe"}, inplace = True)

In [ ]:
list1 = []
for a in df["Timeframe"]:
  list1.append(translator.translate(a, dest='en').text)
list1

['Export', 'Import', 'Balance']

In [ ]:
df["Timeframe"] = pd.DataFrame({"Timeframe": list1})

In [ ]:
df

  Timeframe 1997-01 1997-02 1997-03  ...  2021-04  2021-05  2021-06  2021-07
0    Export   23.40   46.80  102.00  ...  2496.70  3323.96  4111.30  4741.60
1    Import   15.90   35.80   70.70  ...  1961.20  2601.60  3261.12  3838.20
2   Balance    7.50   11.00   31.30  ...   535.40   722.37   850.18   903.40

[3 rows x 296 columns]

In [ ]:
#Transpose the data
df2 = df.T

In [ ]:
new_header = df2.iloc[0] 
df2 = df2[1:] 
df2.columns = new_header

In [ ]:
df2

Timeframe   Export   Import Balance
1997-01      23.40    15.90    7.50
1997-02      46.80    35.80   11.00
1997-03     102.00    70.70   31.30
1997-04     138.30   103.70   34.60
1997-05     180.30   126.30   54.10
...            ...      ...     ...
2021-03    2000.40  1523.70  476.70
2021-04    2496.70  1961.20  535.40
2021-05    3323.96  2601.60  722.37
2021-06    4111.30  3261.12  850.18
2021-07    4741.60  3838.20  903.40

[295 rows x 3 columns]

In [ ]:
#Export as csv file
df2.to_csv("data.csv")

In [ ]:
url = "https://www.1212.mn/tables.aspx?tbl_id=DT_NSO_0600_009V1&A1_select_all=1&A1SingleSelect=&YearM_select_all=1&YearMSingleSelect=&viewtype=table"

In [ ]:
html_content = requests.get(url).text
soup = BeautifulSoup(html_content, "lxml")

In [ ]:
#get the html using Beautiful soup
mi = soup.find_all("table", attrs={"class": "table table-bordered table-responsive table-hover"})

In [ ]:
print("Number of tables on site: ",len(mi))

Number of tables on site:  1

In [ ]:
#Extract table for the header
table1 = mi[0]

body = table1.find_all("tr")

head = body[0] 
body_rows = body[1:] 

headings = []
for item in head.find_all("th"): 
    item = (item.text).rstrip("\n")
    headings.append(item)
print(headings)

['БҮЛЭГ', '1991-10', '1991-11', '1991-12', '1992-01', '1992-02', '1992-03', '1992-04', '1992-05', '1992-06', '1992-07', '1992-08', '1992-09', '1992-10', '1992-11', '1992-12', '1993-01', '1993-02', '1993-03', '1993-04', '1993-05', '1993-06', '1993-07', '1993-08', '1993-09', '1993-10', '1993-11', '1993-12', '1994-01', '1994-02', '1994-03', '1994-04', '1994-05', '1994-06', '1994-07', '1994-08', '1994-09', '1994-10', '1994-11', '1994-12', '1995-01', '1995-02', '1995-03', '1995-04', '1995-05', '1995-06', '1995-07', '1995-08', '1995-09', '1995-10', '1995-11', '1995-12', '1996-01', '1996-02', '1996-03', '1996-04', '1996-05', '1996-06', '1996-07', '1996-08', '1996-09', '1996-10', '1996-11', '1996-12', '1997-01', '1997-02', '1997-03', '1997-04', '1997-05', '1997-06', '1997-07', '1997-08', '1997-09', '1997-10', '1997-11', '1997-12', '1998-01', '1998-02', '1998-03', '1998-04', '1998-05', '1998-06', '1998-07', '1998-08', '1998-09', '1998-10', '1998-11', '1998-12', '1999-01', '1999-02', '1999-03', '1999-04', '1999-05', '1999-06', '1999-07', '1999-08', '1999-09', '1999-10', '1999-11', '1999-12', '2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06', '2000-07', '2000-08', '2000-09', '2000-10', '2000-11', '2000-12', '2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06', '2001-07', '2001-08', '2001-09', '2001-10', '2001-11', '2001-12', '2002-01', '2002-02', '2002-03', '2002-04', '2002-05', '2002-06', '2002-07', '2002-08', '2002-09', '2002-10', '2002-11', '2002-12', '2003-01', '2003-02', '2003-03', '2003-04', '2003-05', '2003-06', '2003-07', '2003-08', '2003-09', '2003-10', '2003-11', '2003-12', '2004-01', '2004-02', '2004-03', '2004-04', '2004-05', '2004-06', '2004-07', '2004-08', '2004-09', '2004-10', '2004-11', '2004-12', '2005-01', '2005-02', '2005-03', '2005-04', '2005-05', '2005-06', '2005-07', '2005-08', '2005-09', '2005-10', '2005-11', '2005-12', '2006-01', '2006-02', '2006-03', '2006-04', '2006-05', '2006-06', '2006-07', '2006-08', '2006-09', '2006-10', '2006-11', '2006-12', '2007-01', '2007-02', '2007-03', '2007-04', '2007-05', '2007-06', '2007-07', '2007-08', '2007-09', '2007-10', '2007-11', '2007-12', '2008-01', '2008-02', '2008-03', '2008-04', '2008-05', '2008-06', '2008-07', '2008-08', '2008-09', '2008-10', '2008-11', '2008-12', '2009-01', '2009-02', '2009-03', '2009-04', '2009-05', '2009-06', '2009-07', '2009-08', '2009-09', '2009-10', '2009-11', '2009-12', '2010-01', '2010-02', '2010-03', '2010-04', '2010-05', '2010-06', '2010-07', '2010-08', '2010-09', '2010-10', '2010-11', '2010-12', '2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06', '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12', '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06', '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12', '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06', '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07']

In [ ]:
#Extract the content, table row
all_rows = [] 
for row_num in range(len(body_rows)): 
    row = [] 
    for row_item in body_rows[row_num].find_all("td"): 
        aa = re.sub("(\xa0)|(\n)|,","",row_item.text)
        row.append(aa)
    all_rows.append(row)

In [ ]:
df = pd.DataFrame(data=all_rows,columns=headings)
df

                                       БҮЛЭГ 1991-10  ... 2021-06 2021-07
0                             Ерөнхий индекс     3.2  ...     0.7     1.3
1                     Хүнсний бараа ундаа ус    -1.8  ...     1.1    -0.3
2                   Согтууруулах ундаа тамхи          ...     0.5     0.6
3                     Хувцас бөс бараа гутал    11.9  ...     0.3     0.6
4                Орон сууц ус цахилгаан түлш     1.4  ...     0.1     0.3
5          Гэр ахуйн тавилга гэр ахуйн бараа     0.0  ...     0.4     1.3
6               Эм тариа эмнэлгийн үйлчилгээ     0.0  ...     0.8     0.6
7                                     Тээвэр     0.0  ...     0.9     9.0
8     Холбооны хэрэгсэл шуудангийн үйлчилгээ          ...     0.1     0.1
9   Амралт чөлөөт цаг соёлын бараа үйлчилгээ    14.6  ...     0.1     1.1
10                     Боловсролын үйлчилгээ          ...     0.0     0.0
11    Зочид буудал зоогийн газар дотуур байр          ...     3.5     0.2
12                     Бусад бараа үйлчилгээ     0.0  ...     0.3     0.5

[13 rows x 358 columns]

In [ ]:
#Google translate
translations = translator.translate(df.columns[0], dest='en')
translations.text

'CHAPTER'

In [ ]:
#Rename header
df.rename(columns = {'БҮЛЭГ': "Timeframe"}, inplace = True)

In [ ]:
list1 = []
for a in df["Timeframe"]:
  list1.append(translator.translate(a, dest='en').text)
list1

['General index',
 'Food and drink water',
 'Alcohol and smoking',
 'Clothing and footwear',
 'Apartment water electric fuel',
 'Home furniture household goods',
 'Medicines and medical services',
 'Transportation',
 'Communication facilities postal service',
 'Recreation and cultural goods and services',
 'Educational services',
 'Hotel restaurant dormitory',
 'Other goods and services']

In [ ]:
df["Timeframe"] = pd.DataFrame({"Timeframe": list1})

In [ ]:
#Transpose data
df2 = df.T

In [ ]:
new_header = df2.iloc[0] 
df2 = df2[1:] 
df2.columns = new_header

In [ ]:
df2

Timeframe General index  ... Other goods and services
1991-10             3.2  ...                      0.0
1991-11             5.1  ...                      3.1
1991-12             4.4  ...                      3.6
1992-01             3.6  ...                     17.7
1992-02             9.8  ...                     10.3
...                 ...  ...                      ...
2021-03             0.6  ...                      0.6
2021-04             2.4  ...                      1.6
2021-05             0.7  ...                      0.5
2021-06             0.7  ...                      0.3
2021-07             1.3  ...                      0.5

[357 rows x 13 columns]

In [ ]:
#Export as csv file
df2.to_csv("data2.csv")